# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\BaiduNetdiskDownload\代码临时\码上达\渔业养殖服务中心\nodejsc841gd9z4.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
